# Postgres & Backend Configuration
NODE_ENV=
DB_HOST=
DB_PORT=5432
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_URL=postgresql://postgres:postgres@postgres:5432/visarun

# Webapp Configuration
VITE_API_URL=

# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_USERNAME=
